.ui_title {
	border: none;
	border-bottom: 1px black solid;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#929292), to(#151515), color-stop(50%, #565656),color-stop(51%, #2b2b2b)); */
	background:#0f9549;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px black;
}