body,p,div,ul,ol,li,dl,dt,dd,span,var,em,a,img,strong,table,td,tr,h2,h3,h4,h5,input{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	font-family:΢���ź�;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a,img{border:none;}
ul,ol{list-style-type:none;}
.clear{height:0;clear:both;}
a{text-decoration:none;}
var,em{font-style:normal;font-weight:noraml;}

.h_t_color{
	background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8C8C8C),to(#000));
	background-image: -webkit-linear-gradient(top, #8C8C8C, #000);
}
.h_cn_color{
	background: #fff;
}
.hi-back-img{
	display:block;
	width:63px;
	height:63px;
}	
.ui-btn-ht {
border: 1px solid black;
background: black;
font-weight: bold;
color: white;
background-image: -webkit-gradient(linear, left top, left bottom, from(#8C8C8C),
 to(#000) );
background-image: -webkit-linear-gradient(top, #8C8C8C, #000);
background-image: linear-gradient(top, #8C8C8C, #000);
}
.ui-body-lib {
background: #E3E5E6;
}
.h_cu_color{
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#FFF) );
	background-image: -webkit-linear-gradient(top, #fff, #FFF);
	background-image: linear-gradient(top, #fff, #FFF)
}
.h-bac-im{
	/*padding:0.7em;
	margin:0.6em 0 0.6em 0.4em;*/
	width:5em;
	top:12%;
	display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;border-image: initial;-webkit-box-orient:horizontal;
	
	/*background: url("res-apple/stor-pic.png") no-repeat !important;*/
}
.h-scroll-ht{
	border:1px solid red;
	height:26.8em;
}
.h_c_color{
	background: transparent;
	padding: 0px;

}
.ui-btn-icon-right .h_ck_l{
	position: absolute;
	margin-top: -3.5em;
	margin-right: -1.5em;
}
.ui-content .h-listview {
	margin: 0;
	padding-top: 2.68em;
	padding-bottom: 3em;
	webkit-box-shadow: none;
	box-shadow: none;
}
#wrapper_h {
	position:absolute; 
	z-index:1;
	top:2.7em;
	bottom:3.5em; 
	width:100%;
	overflow:auto;
}
.h_ui_btn {
	padding: 0.5em 0 0.3em 0;
	-webkit-border-radius: .5em;
	border-radius: .5em;
}
.h_btn_h{
	position: absolute;
	top: 3em;
	right: -1.9em;
	background: #E3E5E6;
	margin-right:0;
}
.flex{-webkit-box-flex:1}
.h_re_b{
	boder-top:none;
}
.ui-corner-f {
	-webkit-border-radius: 0;
	border-radius: 0
}
.ui-li,.ui-li.ui-field-f {

	border-top-width: 0 !important;;
	border-bottom-width: 1px !important;
}
.ui-bar, .ui-body_h {
	padding: .4em 0px;
}

.ui-li-desc-h {
	margin: 0em 0 .6em;
}

.ui-bar-d-h {
	border: 0;
	background: white;
}
.ui-li-divider, .ui-li-hs {
	font-weight: normal;
}
.h-st-p{
	padding-left:-3.2em;
}
.ui-li-re{
	position: absolute;
	left: 0;
	top: 0;
}
.h-im-back{
	 display:block; width:4em; height:4em;float:left;margin:1em 0;
}

.ui-li-hf{
	font-weight: normal;
	font-size:0.75em;
}
.h-sp-c{
	border:1px solid grey;
	padding:0.5em;
}
.h-wei-s{
	margin: .5em 3em;
}
.h-con-w{
	padding:.5em .5em
}
.hd-w{
	margin:4em 0 2em 0;
}

.h-lb-c{
	background:#96C4D7;
}
.h-field-contain{
	text-align: center;
}

.ui-btn-up-e, .h-btn-pay {
background: #FF6133;
font-weight: bold;
color: #333;
text-shadow: 0 1px 0 white;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FF3B33),
 to(#fadb4e) );
background-image: -webkit-linear-gradient(top, #FF6133, #FF3B33);
background-image: linear-gradient(top, #FF6133, #FF3B33);
}

.h-border-a{
	border: 1px solid grey;
}
.h-border-b{
	border: 2px solid #FF4033;
}
.ui-grid-a .ui_block_a{
	width: 20%;
}

.ui_grid_a {
	border: 1px solid #424242;
	background: #020202;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px black;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#2d2d2e), to(#000000), color-stop(50%, #171717),color-stop(51%, #020202));

}
  .ui_nav_iphone input[type="radio"]:checked + label {
	background: url("res-apple/hover_bg.png") no-repeat !important;
	border-radius: 0;
	border: 0px;
	-webkit-background-size: 100% auto;
}
/* .ui_title {
	border: none;
	border-bottom:1px #000 solid;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#929292), to(#151515), color-stop(50%, #565656),color-stop(51%, #2b2b2b));
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px black;
 } */
.ui_body_d {
	border: none;
	color: #fff;
	text-shadow: 0 0 0 0;
	background: url("res-apple/back.png") repeat !important;
}
  .ui_body_a_dwx {
	border: none;
	background: none;
	color: white;
	text-shadow: 0 1px 0 black;
	font-weight: normal;
	background-image: none;
}
.div-center{text-align:center; width:100%;  height:100%; color:#333}
.div-center img{margin:1em 0 1.5em 0;}
.hw-li{
	padding-left: 7.2em;
}
.hx-im-w{
	left: 0.5em;
	top: 5%;
	height: 39%;
	width: 6em;
}
.h-mod-st{
	color: #333;
	text-decoration:underline;
	text-align: right;
	margin-top: -2em;
	margin-bottom: 0.3em;
	text-shadow: 0 0 0 black;
}
.ui-checkbox .ui-btn-icon-right .ui-btn-inner-hyc, .ui-radio .ui-btn-icon-right .ui-btn-inner-hyc {
	padding: .5em 0 .5em 2.5em;
	font-weight: normal;
	text-shadow: 0 0 0 black;
	font-size: 1.1em;
}
.ui-checkbox .ui-btn-icon-right .ui-icon-hyc, .ui-radio .ui-btn-icon-right .ui-icon-hyc {
	right: 0;
	left: 1em;
}
.ui-btn-up-d-hyc, .ui-btn-d-hyc {
	border:none !important;
	background: white;
}
.ui-radio-hyc {
	border:none;
	border-bottom: 1px solid #CCC !important;
}
.title-hyc {
	margin: .5em 0 0 1em;
	font-weight: bold;;
}

/* dwx */
/*dz */
.ui-checkbox .ui_icon_dwx_y, .ui-radio .ui_icon_dwx_y {
	top: 2.1em;
}
.ui-has-label input.ui_input_text_width, .ui-has-label textarea.ui_input_text_width {
	width: 2em;
}
.ui-has-label .ui_select_width {
	width: 17%;
}
.ui_li_desc_dwx_width span {
	display:block;
	width: 16em;
	line-height: 1.5em;
	white-space:normal;
}
.ui-controlgroup-vertical .ui-btn, .ui-controlgroup-vertical .ui-checkbox, .ui-controlgroup-vertical .ui_radio_dwx {
	margin: 0;
	border-bottom-width: 1px;
}
.ui-btn-up-d, .ui-btn-d-dwx {
	text-shadow: 0 0 0 white;
}
.ui_input_text_left{
	text-align:left;
}
.quyu_select {
	text-align: right;
	margin: -2em .5em 0 0;
}
.ui-li .ui-btn-inner-ddddwx {
	padding: .6em 0.5em;
}
/*xx*/
.ui-has-label label.ui_input_text, .ui-has-label label.ui_input_search {
	vertical-align: top;
	display: inline-block;
	width: 6em !important;
	margin: 0.5em 1% 0 0 !important;
	text-align: right;
}
.ui-has-label input.ui_input_text, .ui-has-label textarea.ui_input_text {
	width: 59%;
	text-align: left;
}
.landscape .ui_page_ddd {
	margin: 0 0 0.5em 0;
}
.ui_btn_center_dwx {
	padding: 0 0 0.5em 0;
}
.ui-has-label .ui-select-dwx {
	width: 20%;
	display: inline-block;
}
.ui-select .ui-btn-icon-right .ui-icon-dwx-img {
	right: 1px;
}
.ui-li-link-alt-dwx {
	width: 1em;
}
.ui-select .ui-btn-icon-right .ui-btn-inner-dwx-right {
	padding-right: .8em;
}
.ui-btn-dwx-margin {
	margin: .5em 0;
	padding: 0;
}
/* zh */
.ui_fixed_top {
	padding: .5em 0 .5em 0;
	border-radius: .5em;
	border: 1px solid #b6b6b6;
	background:#ededed;
}
.ui_body_dd {
	border: none;
	color: #fff;
	text-shadow: 0 0 0 0;
	background: none;
}
.ui_fixed_top_dwx_padding {
	padding-top: 0;
}
.ui_fixed_bottom {
	padding-bottom: 0;
}
.ui_fixed_bottom_dwx_padding {
	padding: 0 15px 0 15px;
}
.li_button {
	text-align:center;
}
.li_title {
	text-align:center;
	padding-bottom: .5em;
}
.li_title em {
	font-style: normal;
	color:#272727;
	text-shadow: 0 -1px 1px #fff;
	font-weight: bold;
}
.ui_body_b_dwx {
	border: 1px solid #c2c2c2 !important;
	background: #ededed;
	color: #333;
	text-shadow: 0 0 0 0;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ededed) );
	background-image: -webkit-linear-gradient(top, #ededed, #ededed);
	background-image: linear-gradient(top, #ededed, #ededed);
}
.ui_li_ddwx {
	border-top-width: 0 !important;
}
.ui-li .ui-btn-inner div.ui-link-inherit, .ui-li-static.ui_li_dwx_bj {
	padding: 0.3em 0 .3em 0;
	display: block;
}
.ui-li .ui-btn-inner div.ui-link-inherit, .ui-li-static.ui_li_dwx {
	padding: 0 0 0 0;
	display: block;
}
.ui_controlgroup, fieldset.ui_controlgroup_dwx {
	padding: 0;
	margin: 0em 0 1em;
}
.ui_controlgroup, fieldset.ui_controlgroup_dwx {
	padding: 0;
	margin: 0em 0 1em;
}
.ui_icon_dw {
	background:#000;
	background: rgba(1, 1, 1, 1);
}
.label_font_select {
	margin-left:2em;
}
.label_font_top {
	padding-top:0.7em;
}
.ui-li-heading{
	color: #565656��
}
.ui_body_a_dwx {
	border: none;
	background: none;
	color: white;
	text-shadow: 0 1px 0 black;
	font-weight: normal;
	background-image: none;
}
.ui_body_dwx {
	background: #fff !important;
	position:absolute;
	left:0;
	right:0;
	top:0;
	opacity:0.6; 
	z-index:-99;
	height:100%;
}
.w_set{
	margin:0 0em;;
	position: relative;
	background:none;
	padding:2.8em .8em 0.5em .8em;
}
.ui_btn_center {
	padding: .8em 0
}
/*common */
.ui_font_d {
	color: #565656;
	text-shadow: 0 1px 0 #fff;
}
.float_d{
	float:left;
}
.ui��clear{
	clear:both;
	padding:0;
	margin:0;
}
/* button*/
.ui_btn_up_b_dwx, .ui_btn_b_dwx {
	border-radius: .5em;
	border: 1px solid #151515;
	background: #2567AB;
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px 1px #145072;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#9d9d9d), to(#020202), color-stop(50%, #3c3c3c),color-stop(51%, #242424));
}
.ui_btn_dwx {
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: 1em 5em;
	padding: 0;
	text-decoration: none;
}
.ui_li_desc_dwx span {
	display:block;
	width: 16em;
	line-height: 2em;
	white-space:normal;
}
/*sc*/
.w_fontsize{
	font-size:0.875em;
	font-family:΢���ź�;
}
.w_fontsize em, .ui-li-desc em {
	color:#f40505;
	font-family:΢���ź�;
}

/*dwx*/
.box_zt_del_a_d span {
	background: url("res-apple/del.png") no-repeat !important;
	-webkit-background-size: 100% auto;
	display: block;
	width: 1.7em;
	height: 1.7em;
}
.box_zt_del_a_d {
	cursor: pointer;
	display: block;
	width: 1.3em;
	height: 1.3em;
	padding:.3em;
	float: left;
}

.box_zt_del_a span {
	background: url("res-apple/del.png") no-repeat !important;
	-webkit-background-size: 100% auto;
	display: block;
	width: 2em;
	height: 2em;
}
.box_zt_del_a {
	position: absolute;
	bottom: .4em;
	right: -2em;
	cursor: pointer;
	z-index: 10;
	display: block;
	width: 2em;
	height: 2em;
}
.more_p{line-height:3em;border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;color:#000;background:#fff;}
.more_p a{color:#000;}
.ui-header .w_search_btn111{float:right;margin-right:10px;}
.ui-header .w_head_btn {
border: 1px solid #454545;
background: #333;
font-weight: bold;
color: white;
text-shadow: 0 -1px 1px #666;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#858585), to(#161616));	
-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, .5),0px 1px 1px rgba(255, 255, 255, .5);
box-shadow: inset 0px -1px 1px rgba(0, 0, 2, .5),0px 1px 1px rgba(255, 255, 255, .5);
-webkit-border-radius:0.5em;
top: 0.5em !important;
}
.ui-header .w_head_btn_click {
border: 1px solid #810102;
background: #333;
font-weight: bold;
color: white;
text-shadow: 0 -1px 1px #666;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E0656E), to(#B0020F), color-stop(50%, #D3333F),color-stop(51%, #BC020F));	
-webkit-box-shadow: inset 0px -1px 0px rgba(129, 1, 2, .5),0px 1px 1px rgba(255, 255, 255, .5);
box-shadow: inset 0px -1px 0px rgba(129, 1, 2, .5),0px 1px 1px rgba(255, 255, 255, .5);
-webkit-border-radius:0.5em;
top: 0.5em !important;
}
.ui-header .www_padding{padding:0.5em 0.7em;}
.ui-li-thumb3{
	width: 5em;
	height:5em;
	top:50%;
	margin-top:-2.5em;
	-webkit-border-radius:0.6em;
	-webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .8),0px 2px 3px rgba(255, 255, 255, .8);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .6),0px 2px 3px rgba(255, 255, 255, .8);
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	border-image: initial;
	-webkit-box-orient:horizontal;
	margin-left: 0.3em;
}
.ui-btn-up-a, .ui-li-font-color {
border: 1px solid #8C8C8C;
background: white;
font-weight: bold;
color: black;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F1F1), to(#D1D3D5) );
}

.ui-btn-hyc {
	margin: 0 5px !important;
	float: left;
	width: 15%;
}
.btn-style-sy{
	margin:1em 0; 
	display:box;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	box-orient:horizontal;
}
.btn-style-sy-{
	-webkit-box-pack:center;
	box-pack:center;
	-webkit-box-align:center;
	box-align:center;
	-webkit-box-flex:1;
	box-flex:1;
	
}
.accounts-ui{
	margin-left:-1em;
	background:#eee;
	border-top:1px solid #ccc;
	height:2em;
	line-height:2em;
	margin-right:-15px;
	
}